# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# LaTeX Tools
latexmkrc
.latexmkrc

# Core LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdfsync

# Bibliography files (BibTeX/Biber)
*.bbl
*.blg
*.bcf
*.run.xml

# Index and Glossaries
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.ist
*.acn
*.acr
*.alg

# Lists and specific package outputs
*.lof
*.lot
*.lol
*.nav
*.snm
*.vrb
*.maf
*.mtc
*.mtc[0-9]*

#Output
*.pdf

# Build-Artefakte
build/
build-*/
bin/
obj/
out/

# CMake & Qt Spezifisches
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
CMakeUserPresets.json
*_autogen/
*.qm
*.prl

# Language Server Datenbank & IDE
compile_commands.json
.clangd/
.cache/
.clangd
.vscode/

# OS-spezifische Dateien
.DS_Store
Thumbs.db